body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    color: #333;
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form div {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="number"] {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 200px;
}

thead {
    display: contents;
}

tbody {
    display: contents;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

td, th {
    padding: 15px;
    text-align: center;
}

button {
    margin-right: 5px;
    padding: 10px 20px;
}

tr {
    display: contents;
}
